<div class="ab30stack__topbar" style="--bg: url({{ 'ab30-topbar-bg.min.jpg' | asset_img_url: '2880x' }});">
  <div class="wayfx-container">
    <h2>EXCLUSIVE OFFER: GET A <span>FREE $20 GIFT CARD</span> WITH PURCHASE</h2>
  </div>
</div>