<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription login assistant
	http://rechargepayments.com: v0.1
-->
<div id="rc_login2">
    <h3>Have a Subscription?</h3>
    <p>
        <a href="/tools/recurring/get-subscription-access" class="wayfx-btn" role="button" aria-label="Manage it">Manage it</a>
    </p>
</div>
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->