<div
  id="truemed-prequalify"
  style="font-size: 16px; font-weight: 500; margin-bottom: 24px;"
  icon-height="12"
  data-public-id="tm_qual_0ug4hk17se"
></div>
<script
  src="https://truemed-public.s3.us-west-1.amazonaws.com/truemed-ads/prequal-widget.min.js"
  defer
></script>
<style>
  .truemed-instructions {
    color: inherit !important;
  }
  .truemed-instructions-open {
    color: var(--wayfx-secondary) !important;
  }
  .truemed-instructions-open:hover {
    text-decoration: none;
  }
</style>
