<section class="ab30stack__info">
  <img
    src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/ab30-group.min.png?v=1670277876"
    alt=""
    width="998"
    height="598"
    loading="lazy"
    class="ab30stack__info-mobile"
  >
  <div class="ab30stack__info-head">
    <h2>
      The
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 87">
        <g fill="#f5ebdf" data-name="Group 160"><path d="M101.504 43.533a4.717 4.717 0 0 0 2.588-4.5c0-3.492-2.638-5.661-6.884-5.661h-8.677v20.883h8.991c4.229 0 6.856-2.3 6.856-6a4.888 4.888 0 0 0-2.874-4.722Zm-7.4-5.865h2.081c1.507 0 2.337.689 2.337 1.938s-.83 1.938-2.337 1.938h-2.081Zm2.394 12.129h-2.394v-4.1h2.394c1.384 0 2.279.772 2.279 1.967a1.994 1.994 0 0 1-2.28 2.133Z" data-name="Path 304"/><path d="M76.952 32.85a8.178 8.178 0 0 0-8.169 8.169v13.256h5.539v-5.522h5.259v5.522h5.54v-13.26a8.178 8.178 0 0 0-8.169-8.165Zm2.629 11.1h-5.259v-2.935a2.6295 2.6295 0 0 1 5.259 0Z" data-name="Path 305"/><path d="M113.31 13.026C106.139 4.626 96.549 0 86.31 0s-19.832 4.626-27 13.026a45.164 45.164 0 0 0-9.251 17.928 37.057 37.057 0 0 0-16.407-10.4l21.107-9.764V.873H0v9.923h30.9L0 25.033v13.719A27.893 27.893 0 0 1 21.832 28.66h.137c13.917 0 25.357 9.616 26.7 21.926a22.4 22.4 0 0 1 .142 2.514c0 13.5-12.077 24.44-26.975 24.44A27.893 27.893 0 0 1 .004 67.448v12.968a31.054 31.054 0 0 0 3.8 2.337 38.824 38.824 0 0 0 18.2 4.5c14.44 0 26.959-7.808 32.956-19.132a43.31 43.31 0 0 0 4.35 6.106c7.172 8.4 16.761 13.025 27 13.025s19.832-4.626 27-13.025a48.531 48.531 0 0 0 0-61.209Zm-27 64.3c-15.524 0-28.154-15.118-28.154-33.7s12.63-33.7 28.154-33.7 28.154 15.118 28.154 33.7-12.633 33.705-28.157 33.705Z" data-name="Path 306"/></g>
      </svg>
      Stack
    </h2>
    <p>MAXIMIZE YOUR POTENTIAL DURING AB30!</p>
  </div>

  <div class="ab30stack__info-content">
    <div class="image"></div>

    <div class="text">
      <ul>
        <li>Improve nutrient absorption</li>
        <li>Increase your energy</li>
        <li>Improve your mood</li>
        <li>Strengthen your bones and immune system</li>
      </ul>

      <a
        href="#wayfx-product-form-ab30stack-product-hero"
        class="wayfx-btn ab30"
        >Add to Cart</a
      >
    </div>
  </div>

  <div class="wayfx-wrapper" style="display: none;">
    <div class="ab30stack__info-items">
      <div class="ab30stack__info-item">
        <img
          src="{{ 'ab30-stack-icons--pills.min.jpg' | asset_url }}"
          alt=""
          width="184"
          height="136"
          loading="lazy"
        >
        <h3>How To Use</h3>
        <p>
          Take 6 capsules, once daily. It’s that easy. If you’re new to taking
          organ supplements, start with 1-2 capsules daily for the first week
          before increasing by one capsule daily. Consistent long-term use
          provides the best results.
        </p>
      </div>
      <div class="ab30stack__info-item">
        <img
          src="{{ 'ab30-stack-icons--muscle.min.jpg' | asset_url }}"
          alt=""
          width="184"
          height="136"
          loading="lazy"
        >
        <h3>Benefits</h3>
        <p>
          Our Bone Matrix supplement is packed with vital nutrients and peptides
          to provide foundational support to build strong bones, joints, and
          improve flexibility.
        </p>
      </div>
      <div class="ab30stack__info-item">
        <img
          src="{{ 'ab30-stack-icons--jar.min.jpg' | asset_url }}"
          alt=""
          width="184"
          height="136"
          loading="lazy"
        >
        <h3>Quality</h3>
        <p>
          Rigorous third-party testing by independent labs during and after
          manufacturing. Informed Sport Certified. Quality and purity
          information can be provided upon request.
        </p>
      </div>
      <div class="ab30stack__info-item">
        <img
          src="{{ 'ab30-stack-icons--bull.min.jpg' | asset_url }}"
          alt=""
          width="184"
          height="136"
          loading="lazy"
        >
        <h3>Dietary</h3>
        <p>
          100% additive, hormone, allergen, antibiotic, pesticide, and GMO-free.
          Freeze-dried. Pure nose-to-tail nourishment.
        </p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "AB30 Stack Info"
}
{% endschema %}
