<section class="ab30stack__quote ab30stack__quote-2">
  <div class="wayfx-wrapper">
    <h2>THE MOST NUTRIENT RICH SUPPLEMENTS ON THE PLANET</h2>
  </div>
</section>
{% schema %}
{
  "name": "AB30 Stack Quote 2"
}
{% endschema %}
