<section class="ab30stack__quote">
  <div class="wayfx-wrapper">
    <h2>
      SUPERCHARGE YOUR AB30 CHALLENGE GOALS WITH A TAILOR-MADE AB30 STACK!
    </h2>
  </div>
</section>
{% schema %}
{
  "name": "AB30 Stack Quote"
}
{% endschema %}
