{% comment %}
  -------------------------------------------------------------------------------
  AB30 Stack Callout
  -------------------------------------------------------------------------------
  Usage
  {% section 'ab30stack-callout' %}
  -------------------------------------------------------------------------------
{% endcomment %}

<section class="ab30stack__callout">
  <div class="wayfx-wrapper">
    <p>
      Only the highest quality, regeneratively farmed, thoroughly tested, organ
      meats available go into Heart & Soil. 60-Day money-back guarantee!
    </p>

    <ul>
      <li>
        <img
          src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/ab30-additive-free.png?v=1721766279"
          alt=""
          aria-hidden="true"
          width="180"
          height="180"
        >
        <p>Additive Free: No stearates, lubricants, binders, fillers</p>
      </li>
      <li>
        <img
          src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/ab30-hormone-free.png?v=1721766279"
          alt=""
          aria-hidden="true"
          width="180"
          height="180"
        >
        <p>100% hormone, antibiotic, pesticide, and GMO free</p>
      </li>
      <li>
        <img
          src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/ab30-regen.png?v=1721766280"
          alt=""
          aria-hidden="true"
          width="180"
          height="180"
        >
        <p>100% bioavailable nutrients sourced from regenerative farms</p>
      </li>
      <li>
        <img
          src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/ab30-grassfed.png?v=1721766279"
          alt=""
          aria-hidden="true"
          width="180"
          height="180"
        >
        <p>Sourced from high quality grass-fed and finished cattle</p>
      </li>
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "AB30 Stack Callout",
  "presets": [
    {
      "name": "AB30 Stack Callout"
    }
  ]
}
{% endschema %}
