{% comment %}
-------------------------------------------------------------------------------
CTA callout
-------------------------------------------------------------------------------
Usage
{% section 'cta-callout' %}
-------------------------------------------------------------------------------
{% endcomment %}

{% liquid
  assign background_image = section.settings.background_image
  assign title = section.settings.title
%}

<section class="rtnu-cta-callout">
  {{ background_image | image_url: width: 2800 | image_tag: class: 'rtnu-cta-callout__background-image' }}
  <div class="rtnu-wrapper">
    <h2>{{ title }}</h2>
    <a href="#rtnu-product" class="wayfx-btn">Try the Stack</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="149" height="26" fill="none" viewBox="0 0 149 26"><path fill="#F69400" d="m13.4668 2.07995 2.4564 7.26909 7.6735.09009c.6606.00801.9329.84887.4044 1.24117l-6.156 4.5825 2.2862 7.3252c.1962.6306-.5185 1.1491-1.057.7687l-6.2601-4.4403-6.26013 4.4383c-.53852.3824-1.25322-.1381-1.05703-.7667l2.28623-7.3252-6.156-4.5825c-.53052-.3943-.25625-1.23516.40439-1.24317l7.67349-.08809 2.45435-7.27109c.2122-.62461 1.0971-.62461 1.3073.002Z"/><path fill="#F69400" d="m44.2168 2.07995 2.4564 7.26909 7.6735.09009c.6606.00801.9329.84887.4044 1.24117l-6.156 4.5825 2.2862 7.3252c.1962.6306-.5185 1.1491-1.057.7687l-6.2601-4.4403-6.2601 4.4383c-.5386.3824-1.2532-.1381-1.0571-.7667l2.2863-7.3252-6.156-4.5825c-.5305-.3943-.2563-1.23516.4044-1.24317l7.6734-.08809 2.4544-7.27109c.2122-.62461 1.0971-.62461 1.3073.002Z"/><path fill="#F69400" d="m74.9668 2.07995 2.4564 7.26909 7.6735.09009c.6606.00801.9329.84887.4044 1.24117l-6.156 4.5825 2.2862 7.3252c.1962.6306-.5185 1.1491-1.057.7687l-6.2601-4.4403-6.2601 4.4383c-.5386.3824-1.2532-.1381-1.0571-.7667l2.2863-7.3252-6.156-4.5825c-.5305-.3943-.2563-1.23516.4044-1.24317l7.6734-.08809 2.4544-7.27109c.2122-.62461 1.0971-.62461 1.3073.002Z"/><path fill="#F69400" d="m105.717 2.07995 2.456 7.26909 7.674.09009c.66.00801.933.84887.404 1.24117l-6.156 4.5825 2.286 7.3252c.197.6306-.518 1.1491-1.057.7687l-6.26-4.4403-6.2599 4.4383c-.5386.3824-1.2532-.1381-1.0571-.7667l2.286-7.3252-6.1557-4.5825c-.5305-.3943-.2563-1.23516.4044-1.24317l7.6733-.08809 2.455-7.27109c.212-.62461 1.097-.62461 1.307.002Z"/><path fill="#F69400" d="m136.467 2.07995 2.456 7.26909 7.674.09009c.66.00801.933.84887.404 1.24117l-6.156 4.5825 2.286 7.3252c.197.6306-.518 1.1491-1.057.7687l-6.26-4.4403-6.26 4.4383c-.538.3824-1.253-.1381-1.057-.7667l2.286-7.3252-6.156-4.5825c-.53-.3943-.256-1.23516.405-1.24317l7.673-.08809 2.455-7.27109c.212-.62461 1.097-.62461 1.307.002Z"/></svg>
  </div>
</section>

{% schema %}
{
  "name": "CTA callout",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "CTA callout"
    }
  ]
}
{% endschema %}