{% comment %}
-------------------------------------------------------------------------------
FD Info
-------------------------------------------------------------------------------
Usage
{% section 'fd-info' %}
-------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-fd-info">
  <div class="rtnu-wrapper">
    <div class="rtnu-fd-info__content">
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-fd-info.png?v=1686000351" alt="" aria-hidden="true" width="413" height="287" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-fd-info-mobile.png?v=1686000911" alt="" aria-hidden="true" width="413" height="287" loading="lazy">
      </div>
      <div class="content">
        <p>Empower dad with information.</p>
        <p>After checkout, we'll email you our Quick Start Guide so you can make sure dad gets the most out of his gift!</p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FD Info",
  "presets": [
    {
      "name": "FD Info"
    }
  ]
}
{% endschema %}