<section class="wayfx-hp-social-proof">
  <div class="wayfx-wrapper">
    <div class="swiper hp-social-proof-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <svg xmlns="http://www.w3.org/2000/svg" width="220" height="40" fill="none" viewBox="0 0 220 40"><path fill="#FF6262" d="m21.0188 3.24668 3.8344 11.34692 11.9781.1406c1.0312.0125 1.4562 1.325.6312 1.9375l-9.6093 7.1531 3.5687 11.4344c.3063.9844-.8094 1.7937-1.65 1.2L20 29.5279l-9.7718 6.9282c-.84066.5968-1.95628-.2157-1.65003-1.1969l3.56873-11.4344-9.60936-7.1531c-.82812-.6156-.4-1.9281.63125-1.9406l11.97811-.1375 3.8313-11.35004c.3312-.975 1.7125-.975 2.0406.00312Zm45 0 3.8344 11.34692 11.9781.1406c1.0312.0125 1.4562 1.325.6312 1.9375l-9.6093 7.1531 3.5687 11.4344c.3063.9844-.8094 1.7937-1.65 1.2L65 29.5279l-9.7718 6.9282c-.8407.5968-1.9563-.2157-1.65-1.1969l3.5687-11.4344-9.6094-7.1531c-.8281-.6156-.4-1.9281.6313-1.9406l11.9781-.1375 3.8313-11.35004c.3312-.975 1.7125-.975 2.0406.00312Zm45.0002 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L110 29.5279l-9.772 6.9282c-.8405.5968-1.9561-.2157-1.6498-1.1969l3.5688-11.4344-9.6095-7.1531c-.8281-.6156-.4-1.9281.6313-1.9406l11.9782-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Zm45 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L155 29.5279l-9.772 6.9282c-.84.5968-1.956-.2157-1.65-1.1969l3.569-11.4344-9.609-7.1531c-.829-.6156-.4-1.9281.631-1.9406l11.978-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Zm45 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L200 29.5279l-9.772 6.9282c-.84.5968-1.956-.2157-1.65-1.1969l3.569-11.4344-9.609-7.1531c-.829-.6156-.4-1.9281.631-1.9406l11.978-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Z"/></svg>
          <h2>A more natural way to control YOUR hormones!</h2>
          <span>Katherine V. <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="#4CAF50" d="M24 12c0-1.7453-.9918-3.26882-2.4395-4.0381.3954-1.50661.0102-3.18175-1.1659-4.35715-.8778-.87841-2.0345-1.31514-3.1926-1.31514-.3917 0-.7836.04973-1.1646.14986C15.2688.991806 13.7453 0 12 0c-1.7453 0-3.26882.991806-4.0381 2.43947-.3816-.10013-.77265-.14986-1.16461-.14986-1.15785 0-2.31414.43741-3.19254 1.31514-1.17541 1.1754-1.56129 2.85009-1.16573 4.35715C.991806 8.73118 0 10.2547 0 12c0 1.7453.991806 3.2688 2.43947 4.0381-.39533 1.5066-.01013 3.1817 1.16595 4.3572.87773.8777 2.03447 1.3151 3.19255 1.3151.39172 0 .78368-.0497 1.1646-.1499C8.73118 23.0082 10.2547 24 12 24c1.7453 0 3.2688-.9918 4.0381-2.4395.3816.1002.7727.1499 1.1646.1499 1.1579 0 2.3141-.4374 3.1926-1.3151 1.1754-1.1755 1.5612-2.8501 1.1657-4.3572C23.0082 15.2688 24 13.7453 24 12Z"/><path fill="#fff" d="m10.7999 17.2972-4.44846-4.4489 1.69674-1.697 2.75172 2.7511 5.7515-5.75103 1.697 1.69673-7.4485 7.4491Z"/></svg></span>
        </div>
        <div class="swiper-slide">
          <svg xmlns="http://www.w3.org/2000/svg" width="220" height="40" fill="none" viewBox="0 0 220 40"><path fill="#FF6262" d="m21.0188 3.24668 3.8344 11.34692 11.9781.1406c1.0312.0125 1.4562 1.325.6312 1.9375l-9.6093 7.1531 3.5687 11.4344c.3063.9844-.8094 1.7937-1.65 1.2L20 29.5279l-9.7718 6.9282c-.84066.5968-1.95628-.2157-1.65003-1.1969l3.56873-11.4344-9.60936-7.1531c-.82812-.6156-.4-1.9281.63125-1.9406l11.97811-.1375 3.8313-11.35004c.3312-.975 1.7125-.975 2.0406.00312Zm45 0 3.8344 11.34692 11.9781.1406c1.0312.0125 1.4562 1.325.6312 1.9375l-9.6093 7.1531 3.5687 11.4344c.3063.9844-.8094 1.7937-1.65 1.2L65 29.5279l-9.7718 6.9282c-.8407.5968-1.9563-.2157-1.65-1.1969l3.5687-11.4344-9.6094-7.1531c-.8281-.6156-.4-1.9281.6313-1.9406l11.9781-.1375 3.8313-11.35004c.3312-.975 1.7125-.975 2.0406.00312Zm45.0002 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L110 29.5279l-9.772 6.9282c-.8405.5968-1.9561-.2157-1.6498-1.1969l3.5688-11.4344-9.6095-7.1531c-.8281-.6156-.4-1.9281.6313-1.9406l11.9782-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Zm45 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L155 29.5279l-9.772 6.9282c-.84.5968-1.956-.2157-1.65-1.1969l3.569-11.4344-9.609-7.1531c-.829-.6156-.4-1.9281.631-1.9406l11.978-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Zm45 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L200 29.5279l-9.772 6.9282c-.84.5968-1.956-.2157-1.65-1.1969l3.569-11.4344-9.609-7.1531c-.829-.6156-.4-1.9281.631-1.9406l11.978-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Z"/></svg>
          <h2>Working wonders!This is life changing</h2>
          <span>Miranda H. <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="#4CAF50" d="M24 12c0-1.7453-.9918-3.26882-2.4395-4.0381.3954-1.50661.0102-3.18175-1.1659-4.35715-.8778-.87841-2.0345-1.31514-3.1926-1.31514-.3917 0-.7836.04973-1.1646.14986C15.2688.991806 13.7453 0 12 0c-1.7453 0-3.26882.991806-4.0381 2.43947-.3816-.10013-.77265-.14986-1.16461-.14986-1.15785 0-2.31414.43741-3.19254 1.31514-1.17541 1.1754-1.56129 2.85009-1.16573 4.35715C.991806 8.73118 0 10.2547 0 12c0 1.7453.991806 3.2688 2.43947 4.0381-.39533 1.5066-.01013 3.1817 1.16595 4.3572.87773.8777 2.03447 1.3151 3.19255 1.3151.39172 0 .78368-.0497 1.1646-.1499C8.73118 23.0082 10.2547 24 12 24c1.7453 0 3.2688-.9918 4.0381-2.4395.3816.1002.7727.1499 1.1646.1499 1.1579 0 2.3141-.4374 3.1926-1.3151 1.1754-1.1755 1.5612-2.8501 1.1657-4.3572C23.0082 15.2688 24 13.7453 24 12Z"/><path fill="#fff" d="m10.7999 17.2972-4.44846-4.4489 1.69674-1.697 2.75172 2.7511 5.7515-5.75103 1.697 1.69673-7.4485 7.4491Z"/></svg></span>
        </div>
        <div class="swiper-slide">
          <svg xmlns="http://www.w3.org/2000/svg" width="220" height="40" fill="none" viewBox="0 0 220 40"><path fill="#FF6262" d="m21.0188 3.24668 3.8344 11.34692 11.9781.1406c1.0312.0125 1.4562 1.325.6312 1.9375l-9.6093 7.1531 3.5687 11.4344c.3063.9844-.8094 1.7937-1.65 1.2L20 29.5279l-9.7718 6.9282c-.84066.5968-1.95628-.2157-1.65003-1.1969l3.56873-11.4344-9.60936-7.1531c-.82812-.6156-.4-1.9281.63125-1.9406l11.97811-.1375 3.8313-11.35004c.3312-.975 1.7125-.975 2.0406.00312Zm45 0 3.8344 11.34692 11.9781.1406c1.0312.0125 1.4562 1.325.6312 1.9375l-9.6093 7.1531 3.5687 11.4344c.3063.9844-.8094 1.7937-1.65 1.2L65 29.5279l-9.7718 6.9282c-.8407.5968-1.9563-.2157-1.65-1.1969l3.5687-11.4344-9.6094-7.1531c-.8281-.6156-.4-1.9281.6313-1.9406l11.9781-.1375 3.8313-11.35004c.3312-.975 1.7125-.975 2.0406.00312Zm45.0002 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L110 29.5279l-9.772 6.9282c-.8405.5968-1.9561-.2157-1.6498-1.1969l3.5688-11.4344-9.6095-7.1531c-.8281-.6156-.4-1.9281.6313-1.9406l11.9782-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Zm45 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L155 29.5279l-9.772 6.9282c-.84.5968-1.956-.2157-1.65-1.1969l3.569-11.4344-9.609-7.1531c-.829-.6156-.4-1.9281.631-1.9406l11.978-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Zm45 0 3.834 11.34692 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7937-1.65 1.2L200 29.5279l-9.772 6.9282c-.84.5968-1.956-.2157-1.65-1.1969l3.569-11.4344-9.609-7.1531c-.829-.6156-.4-1.9281.631-1.9406l11.978-.1375 3.831-11.35004c.331-.975 1.713-.975 2.041.00312Z"/></svg>
          <h2>This was a huge difference during my pregnancy!</h2>
          <span>Nicole S. <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="#4CAF50" d="M24 12c0-1.7453-.9918-3.26882-2.4395-4.0381.3954-1.50661.0102-3.18175-1.1659-4.35715-.8778-.87841-2.0345-1.31514-3.1926-1.31514-.3917 0-.7836.04973-1.1646.14986C15.2688.991806 13.7453 0 12 0c-1.7453 0-3.26882.991806-4.0381 2.43947-.3816-.10013-.77265-.14986-1.16461-.14986-1.15785 0-2.31414.43741-3.19254 1.31514-1.17541 1.1754-1.56129 2.85009-1.16573 4.35715C.991806 8.73118 0 10.2547 0 12c0 1.7453.991806 3.2688 2.43947 4.0381-.39533 1.5066-.01013 3.1817 1.16595 4.3572.87773.8777 2.03447 1.3151 3.19255 1.3151.39172 0 .78368-.0497 1.1646-.1499C8.73118 23.0082 10.2547 24 12 24c1.7453 0 3.2688-.9918 4.0381-2.4395.3816.1002.7727.1499 1.1646.1499 1.1579 0 2.3141-.4374 3.1926-1.3151 1.1754-1.1755 1.5612-2.8501 1.1657-4.3572C23.0082 15.2688 24 13.7453 24 12Z"/><path fill="#fff" d="m10.7999 17.2972-4.44846-4.4489 1.69674-1.697 2.75172 2.7511 5.7515-5.75103 1.697 1.69673-7.4485 7.4491Z"/></svg></span>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  (function () {
      'use strict';
      // breakpoint where swiper will be destroyed
      // and switches to a dual-column layout
      const breakpoint = window.matchMedia('(min-width: 768px)');

      // keep track of swiper instances to destroy later
      let pressSwiper;

      const breakpointChecker = function () {
          // if larger viewport and multi-row layout needed
          if (breakpoint.matches === true) {

              // clean up old instances and inline styles when available
              if (pressSwiper !== undefined) pressSwiper.destroy(true, true);

              // or/and do nothing
              return;

              // else if a small viewport and single column layout needed
          } else if (breakpoint.matches === false) {
              // fire small viewport version of swiper
              return enableSwiper();
          }
      };

      const enableSwiper = function () {
          pressSwiper = new Swiper('.hp-social-proof-swiper', {
              loop: true,
              slidesPerView: 'auto',
              centeredSlides: true,
              a11y: true,
              keyboardControl: true,
              grabCursor: true,
              // pagination
              pagination: {
                  el: '.swiper-pagination',
              },
              paginationClickable: true
          });
      };

      // keep an eye on viewport size changes
      breakpoint.addListener(breakpointChecker);

      // kickstart
      breakpointChecker();

  })(); /* IIFE end */
</script>