{% comment %}
-------------------------------------------------------------------------------
Mother's Day benefits
-------------------------------------------------------------------------------
Usage
{% section 'md-benefits' %}
-------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-pdp-benefits rtnu-pdp-benefits-md">
  <div class="rtnu-wrapper">
    <h2>BENEFITS OF DAILY USE</h2>
    <p>Give mom the nutrients that mother nature intended.</p>

    <div class="rtnu-pdp-benefits__grid">
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-her-package-md.min.jpg?v=1683242937" alt="" width="549" height="552" loading="lazy" class="lifestyle-img">

        <div class="accent" style="bottom: -130px;">
          <img src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-bottle-section.min.png?v=1683241250" alt="" loading="lazy" width="350" height="247">
        </div>
      </div>
      <div class="text">
        <ul>
          <li>
            <p>Support hormone balance</p>
          </li>
          <li>
            <p>Improve mood and pms-related symptoms</p>
          </li>
          <li>
            <p>Strengthen bones and heal joints</p>
          </li>
          <li>
            <p>Improve skin, hair, and nail health</p>
          </li>
          <li>
            <p>Stimulate collagen production</p>
          </li>
        </ul>

        <div class="rtnu-md-add-block">
          <div class="rtnu-md-add-block__left">
            <h3>Mother's Day Special</h3>
            <ul>
              <li>1x Her Package</li>
              <li>1x Bone Matrix</li>
              <li>1x Skin, Hair & Nails</li>
            </ul>
          </div>
          <div class="rtnu-md-add-block__right">
            <div>
              <p class="rtnu-md-add-block-price"><s>$160</s> $135</p>
              <p class="rtnu-md-add-block-note">Save $25</p>
              <small>Discount applied at checkout</small>
            </div>
            <button class="wayfx-btn rtnu-md-add">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Md benefits",
  "presets": [
    {
      "name": "Md benefits"
    }
  ]
}
{% endschema %}