{% comment %}
-------------------------------------------------------------------------------
Md cta
-------------------------------------------------------------------------------
Usage
{% section 'md-cta' %}
-------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-md-cta">
  <div class="rtnu-wrapper">
    <h2>GIVE MOM THE GIFT OF HEALTH</h2>
    <ul>
      <li>HER PACKAGE</li>
      <li>BONE MATRIX</li>
      <li>SKIN, HAIR & NAILS</li>
    </ul>

    <img src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-footer-image.min.png?v=1683287666" alt="Product stack showing Her Package, Bone Matrix and Skin, Hair, and Nails" width="623" height="473" loading="lazy">

    <button class="wayfx-btn rtnu-md-add">Add to cart</button>
  </div>
</section>

{% schema %}
{
  "name": "Md CTA",
  "presets": [
    {
      "name": "Md CTA"
    }
  ]
}
{% endschema %}