{% comment %}
-------------------------------------------------------------------------------
Mother's Day hero
-------------------------------------------------------------------------------
Usage
{% section 'md-hero' %}
-------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-md-hero">
  <div class="rtnu-wrapper">
    <div class="rtnu-grid">
      <div class="rtnu-grid__item">
        <div class="rtnu-grid__content">
          <ul>
            <li>HER PACKAGE</li>
            <li>BONE MATRIX</li>
            <li>SKIN, HAIR & NAILS</li>
          </ul>

          <h1>GIVE THE GIFT OF HEALTH THIS MOTHER'S DAY</h1>
          <button class="wayfx-btn rtnu-md-add">Add to cart</button>
        </div>
      </div>
      <div class="rtnu-grid__item">
        <ul>
          <li>HER PACKAGE</li>
          <li>BONE MATRIX</li>
          <li>SKIN, HAIR & NAILS</li>
        </ul>
        <div class="rtnu-grid__image">
          <img src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-hero-image.min.png?v=1683237762" alt="Product stack showing Her Package, Bone Matrix and Skin, Hair, and Nails" width="671" height="470" loading="eager">
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Md hero",
  "presets": [
    {
      "name": "Md hero"
    }
  ]
}
{% endschema %}