{% comment %}
-------------------------------------------------------------------------------
Mother's Day intro
-------------------------------------------------------------------------------
Usage
{% section 'md-intro' %}
-------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-md-intro" id="learn">
  <div class="rtnu-wrapper">
    <div class="rtnu-grid">
      <div class="rtnu-grid__item">
        <div class="rtnu-grid__content">
          <h2>Spoil mom with good health!</h2>
          <p>This stack includes our three best-selling products for enhancing female health. Together, they provide women with essential nutrients to build strong bones, joints, and improve flexibility, while supporting healthy skin, hair and nails.</p>
        </div>
      </div>
      <div class="rtnu-grid__item">
        <div class="rtnu-md-add-block">
          <div class="rtnu-md-add-block__left">
            <h3>Mother's Day Special</h3>
            <ul>
              <li>1x Her Package</li>
              <li>1x Bone Matrix</li>
              <li>1x Skin, Hair & Nails</li>
            </ul>
          </div>
          <div class="rtnu-md-add-block__right">
            <div>
              <p class="rtnu-md-add-block-price"><s>$160</s> $135</p>
              <p class="rtnu-md-add-block-note">Save $25</p>
              <small>Discount applied at checkout</small>
            </div>
            <button class="wayfx-btn rtnu-md-add">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Md Intro",
  "presets": [
    {
      "name": "Md Intro"
    }
  ]
}
{% endschema %}