{% comment %}
-------------------------------------------------------------------------------
Moneyback Guarantee
-------------------------------------------------------------------------------
Usage
{% section 'moneyback-guarantee' %}
-------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-moneyback-guarantee">
  <div class="rtnu-wrapper">
    <div class="rtnu-grid">
      <div class="rtnu-grid__item">
        <div class="rtnu-moneyback-guarantee__image">
          <img class="product" src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-pdp-cta-beef-organs.png?v=1617657677" alt="Beef Organs" width="225" height="418" loading="lazy">
          <img class="badge" src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-moneyback-badge.webp?v=1703091489" alt="Try risk free for 60 days" width="186" height="186" loading="lazy">
        </div>
      </div>

      <div class="rtnu-grid__item">
        <h2>60-DAY MONEY-BACK GUARANTEE!</h2>
        <p>We want you to be completely confident in trying our products, which is why we offer a 60-day money-back guarantee. This guarantee is more than just a policy; it's our commitment to your radical health journey. We're here to support you every step of the way, ensuring you feel the full impact of our products without any rush.</p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Moneyback Guarantee",
  "presets": [
    {
      "name": "Moneyback Guarantee"
    }
  ]
}
{% endschema %}