{% comment %}
-------------------------------------------------------------------------------
NYNY Footer
-------------------------------------------------------------------------------
Usage
{% section 'nyny-footer' %}
-------------------------------------------------------------------------------
{% endcomment %}

<footer class="rtnu-lp__footer" style="background: #A65316;">
  <div class="rtnu-wrapper">
    <p>&copy; {{ 'now' | date: '%Y' }} Heart &amp; Soil. All rights reserved.</p>
    <ul>
      <li>
        <a href="https://www.instagram.com/heartandsoilsupplements/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path fill="#F7ECDE" fill-rule="nonzero" d="M9.45454545 0C4.24 0 0 4.24 0 9.45454545V22.5454545C0 27.76 4.24 32 9.45454545 32H22.5454545C27.76 32 32 27.76 32 22.5454545V9.45454545C32 4.24 27.76 0 22.5454545 0H9.45454545zM24.7272727 5.81818182c.8 0 1.4545455.65454545 1.4545455 1.45454545 0 .8-.6545455 1.45454546-1.4545455 1.45454546s-1.4545454-.65454546-1.4545454-1.45454546.6545454-1.45454545 1.4545454-1.45454545zM16 8c4.4145455 0 8 3.5854545 8 8s-3.5854545 8-8 8-8-3.5854545-8-8 3.5854545-8 8-8zm0 1.45454545c-3.6072727 0-6.54545455 2.93818185-6.54545455 6.54545455 0 3.6072727 2.93818185 6.5454545 6.54545455 6.5454545 3.6072727 0 6.5454545-2.9381818 6.5454545-6.5454545 0-3.6072727-2.9381818-6.54545455-6.5454545-6.54545455z"/>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/heartandsoilsupplements/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path fill="#F7ECDE" fill-rule="nonzero" d="M28.1904762 0H3.80952381C1.70666667 0 0 1.70666667 0 3.80952381V28.1904762C0 30.2933333 1.70666667 32 3.80952381 32H28.1904762C30.2933333 32 32 30.2933333 32 28.1904762V3.80952381C32 1.70666667 30.2933333 0 28.1904762 0zm-3.0476191 11.4285714h-1.5238095c-1.6304762 0-2.2857143.3809524-2.2857143 1.5238096v2.2857142h3.8095238l-.7619047 3.8095238h-3.0476191v11.4285715h-3.8095238V19.047619h-3.047619v-3.8095238h3.047619V12.952381c0-3.0476191 1.5238095-5.33333338 4.5714286-5.33333338 2.2095238 0 3.047619.76190476 3.047619.76190476v3.04761902z"/>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCyf4v0HhGiHc8_ZIiSfd3Ug" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 32">
            <path fill="#F7ECDE" fill-rule="evenodd" d="M7.38461538 0l2.46153847 7.38461538v4.92307692h1.64102565V7.38461538L13.9487179 0h-1.6410256l-1.6410256 4.92307692L9.02564103 0H7.38461538zm9.02564102 3.28205128c-.8749998 0-1.3044874.13782072-1.8397432.57692308-.5128205.43269251-.6538461.76602585-.6217953 1.88461538v4.10256411c0 .81730785.1346158 1.35576945.6282052 1.83333335.5128205.4775639.9967951.6282051 1.8333333.6282051.8749998 0 1.3525645-.1506412 1.8461539-.6282051.5128205-.4583336.6153846-1.0160255.6153846-1.83333335V5.74358974c0-.72435856-.1282052-1.41025641-.6250002-1.86858995-.5128205-.47115323-1.0416665-.59294851-1.8365383-.59294851zm4.1025641 0v7.38461542c0 .7980767.8044874 1.6410256 1.6410257 1.6410256.8365382 0 1.2788463-.419872 1.6410256-.8205128v.8205128h1.6410256V3.28205128h-1.6410256v6.56410257c-.0096156.56089765-.6698716.82051285-.8205128.82051285-.1698716 0-.8205128-.0352566-.8205128-.82051285V3.28205128h-1.6410257zm-4.1025641 1.64102545c.2467947 0 .8205128-.00320473.8205128.82051301v4.10256411c0 .79487175-.5544869.82051285-.8205128.82051285-.2467947 0-.8205128-.0096156-.8205128-.82051285V5.74358974c0-.66987159.3557694-.82051301.8205128-.82051301zM4.92307692 13.9487179C1.97435897 13.9487179 0 15.9038466 0 18.8717949v7.7948718C0 29.6346158 1.97435897 32 4.92307692 32H29.5384615c2.948718 0 4.923077-1.9551278 4.923077-4.9230769v-8.2051282c0-2.9679483-1.974359-4.923077-4.923077-4.923077H4.92307692zm1.64102564 3.2820513h4.92307694v1.6410257H9.84615385v9.8461538H8.20512821v-9.8461538H6.56410256v-1.6410257zm11.48717954 0h1.6410256v3.2820513c.1891028-.2948718.471154-.5288459.7403848-.660256.2628201-.1346158.528846-.2115389.7980767-.2115389.5320517 0 .948718.1923077 1.2339742.5512821.285257.3621793.5096156.8429489.5096156 1.551282v4.923077c0 .6089747-.2051282.9871795-.474359 1.3108972-.2628201.3237186-.6570511.733975-1.1666667.7403848-.8621792.0096156-1.3237177-.4519229-1.6410256-.8205128v.8205128h-1.6410256V17.2307692zm-6.5641026 2.4615385h1.6410256v6.5641026c0 .1891027.2211537.8269234.8205128.8205128.6666667-.0064099.6730774-.6282052.8205129-.8205128v-6.5641026h1.6410256v9.025641h-1.6410256v-.8205128c-.3044874.3589744-.4615385.471154-.8044874.6410256-.3397432.1923077-.685897.1794872-1.0064099.1794872-.3974359 0-.8493587-.3589743-1.0608976-.6282051-.1891028-.2467947-.4102564-.5-.4102564-1.0128205v-7.3846154zm14.9326925 0c.7788464 0 1.3269227.1666667 1.7403848.6025641.4230769.4358974.5576919.945513.5576919 1.7660258v2.554487h-3.2820513v1.2692308c0 .4583335.0608977.7500004.1794872.9230769.1121797.1891028.339744.2724357.6410257.2692308.3333333-.0032049.5448722-.0705124.657051-.2211537.1153846-.1346158.1634618-.5160254.1634618-1.0096156v-.4102564h1.6410256v.4871795c0 .894231-.0705124 1.5608977-.5128205 1.9967951-.4166663.4583335-1.0673075.6698716-1.919872.6698716-.7788455 0-1.3878203-.2307692-1.8237177-.7051282-.4358975-.474359-.6634618-1.1250002-.6634618-1.9615385v-3.8621793c0-.7435897.259616-1.2948718.7371799-1.7852562.3846154-.3942309 1.105769-.5833337 1.8846154-.5833337zm-5.9070515 1.2307692c-.4519229 0-.8141021.4070515-.8205128.8205128v4.923077c.0064107.2371799.3685899.4102564.8205128.4102564s.8205128-.3493588.8205128-.8012817v-4.1217952c0-.8205129-.3685899-1.2307693-.8205128-1.2307693zm5.7435898.4102564c-.4519229 0-.8141022.3814105-.8205129.8205129v.8205128h1.6410257v-.8205128c0-.503205-.36859-.8205129-.8205128-.8205129z"/>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/heartandsoilhq" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1200 1227">
            <path fill="#F7ECDE" d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894L144.011 79.6944h162.604L611.412 515.685l47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"/>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@heartandsoil" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#F7ECDE" d="M412.19 118.66a109.27 109.27 0 0 1-9.45-5.5 132.87 132.87 0 0 1-24.27-20.62c-18.1-20.71-24.86-41.72-27.35-56.43h.1C349.14 23.9 350 16 350.13 16h-82.44v318.78c0 4.28 0 8.51-.18 12.69 0 .52-.05 1-.08 1.56 0 .23 0 .47-.05.71v.18a70 70 0 0 1-35.22 55.56 68.8 68.8 0 0 1-34.11 9c-38.41 0-69.54-31.32-69.54-70s31.13-70 69.54-70a68.9 68.9 0 0 1 21.41 3.39l.1-83.94a153.14 153.14 0 0 0-118 34.52 161.79 161.79 0 0 0-35.3 43.53c-3.48 6-16.61 30.11-18.2 69.24-1 22.21 5.67 45.22 8.85 54.73v.2c2 5.6 9.75 24.71 22.38 40.82A167.53 167.53 0 0 0 115 470.66v-.2l.2.2c39.91 27.12 84.16 25.34 84.16 25.34 7.66-.31 33.32 0 62.46-13.81 32.32-15.31 50.72-38.12 50.72-38.12a158.46 158.46 0 0 0 27.64-45.93c7.46-19.61 9.95-43.13 9.95-52.53V176.49c1 .6 14.32 9.41 14.32 9.41s19.19 12.3 49.13 20.31c21.48 5.7 50.42 6.9 50.42 6.9v-81.84c-10.14 1.1-30.73-2.1-51.81-12.61Z"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>

{% schema %}
{
  "name": "NYNY Footer",
  "presets": [
    {
      "name": "NYNY Footer"
    }
  ]
}
{% endschema %}