{% comment %}
-------------------------------------------------------------------------------
NYNY header
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
Usage
{% section 'nyny-header' %}
-------------------------------------------------------------------------------
{% endcomment %}

{% liquid
  assign title = section.settings.title
  assign button_url = section.settings.button_url
  assign button_text = section.settings.button_text
  assign is_external = section.settings.is_external
%}

<section class="rtnu-nyny__header">
  <div class="rtnu-wrapper">
    <div class="rtnu-grid">
      <div class="rtnu-grid__item">
        <a href="/" class="rtnu-nyny__header-logo">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 239 48">
            <path fill="currentColor" fill-rule="evenodd" d="M55.4844 11.0871c-.1472-1.82546-.6758-3.48986-1.4957-4.9723-.2523-.44742-.4926-.80834-.7599-1.15732-.2643-.34601-.5466-.67411-.841-.98134-.5947-.61445-1.2314-1.15732-1.9102-1.63755C49.114 1.39603 47.6063.704026 46.0234.310298c-1.5858-.3817961-3.2618-.432503-4.8176-.03281-.7779.202829-1.5137.513039-2.1775.918702-.6608.40565-1.2494.90676-1.754 1.46156 1.2614-.82325 2.6881-1.28558 4.0937-1.33032 1.4087-.05966 2.7843.26547 4.0307.8322 1.2525.55479 2.3878 1.35418 3.3369 2.29077.4775.46234.91.96344 1.2795 1.48543.1832.26249.3484.53392.4955.80535.1502.27144.2764.5548.3575.77553.4295 1.20802.6577 2.48759.5796 3.63299-.0781 1.1574-.4685 2.1685-1.0782 3.0514-.6247.8799-1.5108 1.6286-2.565 2.2371-.5166.3013-1.1143.5817-1.6579.8083-.2163.0955-.6968.2804-.9431.3669l-1.0512.3908c-1.4087.5249-2.8203 1.035-4.238 1.5988-1.4146.5637-2.8443 1.1364-4.322 1.8493-1.4567.6979-3.0635 1.6524-4.4211 2.8575-.3244.2714-.7118.6472-.9882.9157l-.3934.3967-.4686.513c-.5556.5966-1.0692 1.2558-1.5648 1.9359-.4986-.6801-1.0152-1.3393-1.5708-1.9359l-.4655-.513-.3965-.3967c-.2763-.2685-.6608-.6443-.9882-.9157-1.3575-1.2051-2.9614-2.1596-4.4181-2.8575-1.4777-.7129-2.9074-1.2856-4.322-1.8493-1.4176-.5638-2.8323-1.0739-4.2349-1.5988l-1.0542-.3908c-.2463-.0865-.72689-.2714-.94013-.3669-.54664-.2266-1.14433-.507-1.66093-.8083-1.05423-.6085-1.94026-1.3572-2.56498-2.2371-.60971-.8829-1.00016-1.894-1.07825-3.0514-.07509-1.1454.15017-2.42497.57967-3.63299.0841-.22073.20724-.50409.35741-.77553.14718-.27143.31237-.54286.49558-.80535.36943-.52199.80193-1.02309 1.27949-1.48543.9521-.93659 2.08742-1.73598 3.33984-2.29077 1.2465-.56673 2.6221-.89186 4.0277-.8322 1.4056.04474 2.8323.50707 4.0968 1.33032-.5076-.5548-1.0963-1.05591-1.7571-1.46156-.6667-.405663-1.4026-.715873-2.1775-.918702-1.5558-.399693-3.2318-.3489861-4.81459.03281C7.90317.704026 6.39542 1.39603 5.03183 2.33859c-.67578.48023-1.31853 1.0231-1.91022 1.63755-.29434.30723-.57666.63533-.84097.98134-.26731.34898-.50759.7099-.75988 1.15732C.700804 7.59724.17219 9.26164.0220156 11.0871c-.0570663.9098-.006007 1.8493.1862164 2.7829.192223.9277.537624 1.8345.997158 2.6696.91907 1.6734 2.25562 3.0216 3.67927 4.0596.72985.528 1.44168.9754 2.2406 1.384.45954.2386.66978.34 1.11129.5429l1.01218.4713 4.02467 1.891c1.3215.6294 2.6251 1.2677 3.7994 1.9299 1.1954.6711 2.1445 1.3214 2.9795 2.1416.2312.2178.3694.3759.6157.6384l.3784.4146.2703.3251c.4145.4772.7659.9783 1.0993 1.4735.6308 1.0052 1.1233 2.0313 1.3546 3.0215.2403.9903.2463 1.9389.012 2.7979-.2072.7964-.6247 1.5182-1.1834 2.1327-.0781-.9008-.1772-1.8821-.3814-2.8993-.1652-.8113-.3965-1.6524-.7479-2.4936-.3484-.8411-.8109-1.6912-1.4176-2.4578-.5977-.7696-1.3336-1.4586-2.1355-2.0014-.3965-.2804-.82-.5071-1.2404-.7159l-.3154-.1492-.3604-.1521-.1742-.0745c-.0451-.012-.0781-.0299-.1262-.0329-.1051.0209-.3033.2267-.7208.8859l-1.5378 3.126c-.2673.7367-.3124 1.0141-.2643 1.1096.03.0358.0691.0537.1051.0805l.0481.0448.2102.2058c.1562.1491.2944.3072.4205.4623.2553.3072.4415.6294.6217.9664.3424.6801.6097 1.5063.817 2.5414.0991.516.1832 1.0738.2463 1.6763l.1802 1.9746c.033.3639.0721.7517.1381 1.1931.0661.4385.1442.9187.3544 1.569.1112.331.2523.7009.5136 1.1424.2613.4354.6728.9753 1.3035 1.4227.6248.4504 1.4267.7189 2.0664.7815.6488.0716 1.1564.006 1.5799-.0716l.1231-.0238.1322-.0388c2.0604-.5816 3.8835-1.7061 5.3312-3.1975.1351-.1372.2613-.2804.3874-.4266.1262.1462.2523.2894.3845.4266 1.4476 1.4914 3.2708 2.6159 5.3312 3.1975l.1321.0388.1232.0238c.4234.0776.931.1432 1.5798.0716.6367-.0626 1.4417-.3311 2.0664-.7815.6307-.4474 1.0422-.9873 1.3035-1.4227.2613-.4415.4025-.8114.5136-1.1424.2132-.6503.2883-1.1305.3544-1.569.0661-.4414.1051-.8292.1382-1.1931l.1802-1.9746c.0631-.6025.1472-1.1603.2463-1.6763.2072-1.0351.4745-1.8613.8169-2.5414.1802-.337.3634-.6592.6217-.9664.1262-.1551.2613-.3132.4205-.4623l.2103-.2058.048-.0448c.0361-.0268.0721-.0447.1051-.0805.0451-.0955.0031-.3729-.2643-1.1096l-1.5377-3.126c-.4205-.6592-.6158-.865-.7209-.8859-.045.003-.0811.0209-.1261.0329l-.1742.0745-.3574.1521-.3184.1492c-.4205.2088-.844.4355-1.2405.7159-.8019.5428-1.5407 1.2318-2.1354 2.0014-.6067.7666-1.0693 1.6167-1.4207 2.4578-.3484.8412-.5797 1.6823-.7449 2.4936-.2042 1.0172-.3063 1.9985-.3814 2.8993-.5586-.6145-.9761-1.3363-1.1834-2.1327-.2342-.859-.2282-1.8076.012-2.7979.2313-.9902.7209-2.0163 1.3546-3.0215.3334-.4952.6848-.9963 1.0993-1.4735l.2703-.3251.3754-.4146c.2493-.2625.3875-.4206.6188-.6384.8349-.8202 1.784-1.4705 2.9764-2.1416 1.1744-.6622 2.4809-1.3005 3.8024-1.9299l4.0247-1.891 1.0152-.4713c.4385-.2029.6487-.3043 1.1083-.5429.7989-.4086 1.5137-.856 2.2376-1.384 1.4266-1.038 2.7602-2.3862 3.6823-4.0596.4565-.8351.8049-1.7419.9971-2.6696.1922-.9336.2463-1.8731.1832-2.7829Zm129.1496-.9475c2.394 0 4.245.7302 5.549 2.1906 1.301 1.4634 1.953 3.6899 1.953 6.6736v1.0833c0 .2723-.1.5057-.29.7003-.191.1975-.423.2962-.688.2962h-3.108c-.205 0-.399-.0897-.576-.2723-.179-.1795-.267-.3771-.267-.5865v-.9517c0-1.5981-.214-2.7442-.643-3.4355-.429-.6913-1.072-1.0414-1.93-1.0414-.861 0-1.504.2783-1.933.8379-.429.5566-.643 1.2868-.643 2.1936 0 .811.22 1.6339.666 2.4629.444.8319.923 1.5322 1.443 2.1038.517.5746 1.369 1.4484 2.552 2.6215 1.983 1.9901 3.449 3.7468 4.395 5.27.946 1.5233 1.419 3.2949 1.419 5.3119 0 2.5048-.732 4.5099-2.197 6.0182-1.466 1.5082-3.367 2.2594-5.702 2.2594-2.397 0-4.315-.7751-5.749-2.3283-1.436-1.5531-2.153-3.5522-2.153-5.9912v-2.2624c0-.3023.103-.5656.308-.793.206-.2245.473-.3382.799-.3382h2.709c.296 0 .555.1137.778.3382.22.2274.332.4907.332.793v1.8554c0 2.6545.975 3.9772 2.929 3.9772 1.895 0 2.843-1.0384 2.843-3.1183 0-.7242-.105-1.4035-.311-2.035-.209-.6314-.605-1.3137-1.201-2.035-.591-.7242-1.073-1.2748-1.443-1.6519-.37-.377-1.025-1.0324-1.974-1.9661-1.154-1.1462-2.056-2.1038-2.708-2.8729-.649-.7691-1.287-1.8315-1.91-3.1902-.62-1.3556-.931-2.7562-.931-4.2046 0-2.2624.643-4.1448 1.933-5.65 1.284-1.5083 3.202-2.2625 5.749-2.2625Zm19.355 0c2.535 0 4.552.7332 6.048 2.1934 1.498 1.4633 2.247 3.4173 2.247 5.8561V35.826c0 2.4417-.749 4.3927-2.247 5.856-1.496 1.4632-3.513 2.1934-6.048 2.1934-2.539 0-4.556-.7302-6.051-2.1934-1.499-1.4633-2.245-3.4143-2.245-5.856V18.1891c0-2.4388.746-4.3928 2.245-5.8561 1.495-1.4602 3.512-2.1934 6.051-2.1934Zm-135.9617.7846c.3037 0 .5683.1032.7969.3125.2255.2064.3398.4746.3398.8019v11.981c0 .3007.1504.4481.4571.4481h4.8598c.3037 0 .4541-.1474.4541-.4481v-11.981c0-.3273.1052-.5955.3218-.8019.2105-.2093.4841-.3125.8149-.3125h3.1366c.3038 0 .5684.1032.7969.3125.2256.2064.3399.4746.3399.8019v29.9378c0 .3273-.1143.5926-.3399.8019-.2285.2093-.4931.3125-.7969.3125h-3.1366c-.3308 0-.6044-.1032-.8149-.3125-.2166-.2093-.3218-.4746-.3218-.8019V29.6357c0-.2977-.1504-.4481-.4541-.4481h-4.8598c-.3067 0-.4571.1504-.4571.4481v12.3407c0 .3273-.1143.5926-.3398.8019-.2286.2093-.4932.3125-.7969.3125h-3.1366c-.3308 0-.6045-.1032-.815-.3125-.2135-.2093-.3218-.4746-.3218-.8019V12.0386c0-.3273.1083-.5955.3218-.8019.2105-.2093.4842-.3125.815-.3125h3.1366Zm29.7979 0c.2998 0 .561.1032.7866.3125.2226.2064.3354.4746.3354.8019v2.4498c0 .2978-.1128.5572-.3354.7783-.2256.2241-.4868.3332-.7866.3332h-6.9546c-.2969 0-.4453.1503-.4453.4451v7.7093c0 .2978.1484.4452.4453.4452h4.7106c.2998 0 .564.1031.7866.3125.2256.2093.3354.4775.3354.8018v2.2701c0 .2977-.1098.5601-.3354.7812-.2226.2211-.4868.3331-.7866.3331h-4.7106c-.2969 0-.4453.1504-.4453.4482v8.7322c0 .2948.1484.4452.4453.4452h7.3138c.2998 0 .561.109.7866.3331.2226.2211.3354.4835.3354.7812v2.5383c0 .3273-.1128.5926-.3354.8019-.2256.2093-.4868.3125-.7866.3125h-11.977c-.3295 0-.5966-.1032-.8074-.3125-.2107-.2093-.3146-.4746-.3146-.8019V12.0386c0-.3273.1039-.5955.3146-.8019.2108-.2093.4779-.3125.8074-.3125h11.6178Zm14.5908 0c.331 0 .623.112.879.3361.254.221.397.4834.429.7782l5.314 29.938c.057.2948-.009.5542-.202.7783-.197.224-.445.336-.743.336h-2.929c-.331 0-.623-.112-.879-.336-.257-.2241-.4-.4835-.427-.7783l-.724-5.1262c0-.2948-.161-.4451-.494-.4451h-4.548c-.328 0-.495.1503-.495.4451l-.766 5.1262c-.06.3243-.209.5926-.45.7989-.241.2093-.51.3154-.811.3154h-2.926c-.301 0-.552-.112-.745-.336-.194-.2241-.263-.4835-.2-.7783l5.314-29.938c.03-.2948.17-.5572.426-.7782.253-.2241.548-.3361.879-.3361h4.098Zm18.112 0c2.873 0 4.834.8314 5.89 2.4941 1.05 1.6627 1.576 4.0389 1.576 7.1285 0 2.4646-.259 4.2924-.779 5.4805-.521 1.1851-1.415 2.1079-2.688 2.7594-.268.1179-.356.3302-.268.625l3.735 12.609c.059.2682.015.5129-.135.737-.147.2211-.371.3331-.668.3331h-2.973c-.741 0-1.217-.3567-1.426-1.0701l-3.199-11.8514c-.088-.2948-.28-.4451-.576-.4451h-1.024c-.294 0-.444.1503-.444.4451v11.8071c0 .3243-.103.5926-.309.8019-.208.2093-.476.3125-.802.3125h-3.111c-.324 0-.591-.1032-.797-.3125-.209-.2093-.312-.4776-.312-.8019V12.0386c0-.3302.103-.5955.312-.8049.206-.2063.473-.3095.797-.3095h7.201Zm24.544 0c.299 0 .562.1032.784.3125.225.2064.334.4746.334.8019v2.5383c0 .2977-.109.5572-.334.7783-.222.224-.485.3331-.784.3331h-4.022c-.302 0-.45.1504-.45.4481v25.84c0 .3273-.104.5926-.311.8019-.21.2093-.479.3125-.808.3125h-3.087c-.296 0-.556-.1032-.781-.3125-.222-.2093-.337-.4746-.337-.8019v-25.84c0-.2977-.145-.4481-.444-.4481h-4.117c-.329 0-.598-.1091-.805-.3331-.207-.2211-.311-.4806-.311-.7783v-2.5383c0-.3273.104-.5955.311-.8019.207-.2093.476-.3125.805-.3125h14.357Zm64.741 0c.31 0 .578.1032.815.3095.23.2094.347.4776.347.8049v29.9378c0 .3273-.117.5926-.347.8019-.237.2093-.505.3125-.815.3125h-3.206c-.342 0-.621-.1032-.837-.3125-.218-.2093-.325-.4746-.325-.8019V12.0386c0-.3273.107-.5955.325-.8049.216-.2063.495-.3095.837-.3095h3.206Zm-45.78 27.4593c.299 0 .559.1019.784.3057.225.2067.335.4687.335.7947v2.5065c0 .294-.11.5502-.335.7686-.225.2212-.485.3318-.784.3318h-14.354c-.328 0-.598-.1106-.805-.3318-.207-.2184-.313-.4746-.313-.7686v-2.5065c0-.326.106-.588.313-.7947.207-.2038.477-.3057.805-.3057h14.354Zm55.336-27.4916c.306 0 .569.103.803.309.227.2088.342.4766.342.8031v25.8285c0 .3001.151.4472.454.4472h6.684c.336 0 .609.1029.824.3118.212.206.321.4737.321.8003v2.4889c0 .3266-.109.5914-.321.8003-.215.2089-.488.3119-.824.3119H226.21c-.336 0-.611-.103-.823-.3119-.215-.2089-.321-.4737-.321-.8003V12.004c0-.3265.106-.5943.321-.8031.212-.206.487-.309.823-.309h3.159Zm-25.38 3.9966c-1.866 0-2.797 1.0563-2.797 3.1659v17.9062c0 2.1096.931 3.1659 2.797 3.1659 1.862 0 2.796-1.0563 2.796-3.1659V18.0544c0-2.1096-.934-3.1659-2.796-3.1659Zm-38.491-4.7489c1.443 0 2.555.4506 3.339 1.3576.786.9012 1.181 2.075 1.181 3.5126 0 1.3042-.329 2.4958-.982 3.5629-.656 1.0701-1.618 2.1876-2.882 3.3674-.154.1511-.187.326-.098.5216.784 1.9861 1.508 3.5749 2.158 4.7724.044.0682.098.0978.166.0978.062 0 .107-.0296.13-.0978.544-1.3072.861-2.736.947-4.2803.048-.5454.338-.8181.884-.8181h1.342c.219 0 .406.083.558.2431.151.1659.219.3586.195.575-.13 2.5937-.795 4.968-1.997 7.1259-.109.1749-.098.3468.036.5217.457.5039.905.7529 1.341.7529.588 0 .882-.4031.882-1.2094v-.7855c0-.1749.071-.329.213-.4743.143-.1393.312-.2134.508-.2134h.917c.24 0 .436.083.587.246.155.1631.229.3557.229.5721v1.1472c0 1.1975-.342 2.1342-1.03 2.81-.686.6729-1.499 1.0138-2.439 1.0138-1.113 0-2.19-.4714-3.241-1.408-.13-.1305-.291-.1423-.489-.0326-1.176.9574-2.478 1.4406-3.894 1.4406-1.682 0-3.018-.5306-4.009-1.5888-.994-1.0553-1.489-2.4218-1.489-4.0995 0-2.4632 1.083-4.7308 3.24-6.7998.154-.1542.187-.3291.098-.5247-.914-2.3091-1.374-4.2151-1.374-5.7209 0-1.654.442-2.9997 1.326-4.0372.885-1.0345 2.098-1.5503 3.647-1.5503Zm-55.153 8.8498-1.893 12.3838c-.059.2978.063.4422.361.4422h3.108c.12 0 .224-.0413.316-.1326.09-.0885.119-.1917.09-.3096l-1.848-12.3838c-.06-.0324-.104-.0324-.134 0Zm52.866 6.2498c-.701.9811-1.051 1.983-1.051 3.0086 0 .8952.214 1.5918.638 2.0927.427.501 1.021.7529 1.787.7529.522 0 .97-.1541 1.341-.4564.172-.1334.196-.2965.062-.4921-.893-1.3961-1.712-3.0175-2.451-4.8701-.089-.1957-.196-.2075-.326-.0356Zm-33.571-9.8604h-1.647c-.294 0-.444.1474-.444.4451v9.1774c0 .2978.15.4452.444.4452h1.647c1.214 0 2.035-.3479 2.467-1.0466.426-.6957.644-2.0253.644-3.9858 0-1.9605-.218-3.293-.644-3.9888-.432-.6957-1.253-1.0465-2.467-1.0465Zm35.761-2.4617c-.502 0-.891.2104-1.164.6373-.27.4239-.406 1.0078-.406 1.7489 0 .9811.261 2.2557.783 3.8267.024.0623.074.1008.149.1126.077.0119.136-.0059.181-.0503 1.222-1.3962 1.833-2.7864 1.833-4.1825 0-1.3961-.459-2.0927-1.376-2.0927Z" clip-rule="evenodd"/>
          </svg>
        </a>
      </div>
      <div class="rtnu-grid__item">
        <p><strong>Exclusive Offer:</strong> FREE bottle<br> of Firestarter with every purchase!</p>
        <img src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-firestarter.webp?v=1703008426" alt="Firestarter" width="95" height="70" loading="eager">
      </div>
      <div class="rtnu-grid__item">
        <a href="{{ routes.cart_url }}" class="rtnu-nyny__header-cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="30" fill="none" viewBox="0 0 34 30">
            <path fill="currentColor" d="M14.423 27.1153c0 1.5926-1.292 2.8846-2.8846 2.8846-1.59252 0-2.88459-1.292-2.88459-2.8846 0-1.5925 1.29207-2.8846 2.88459-2.8846 1.5926 0 2.8846 1.2921 2.8846 2.8846Z"/><path fill="currentColor" d="M29.423 27.1153c0 1.5926-1.292 2.8846-2.8846 2.8846-1.5925 0-2.8846-1.292-2.8846-2.8846 0-1.5925 1.2921-2.8846 2.8846-2.8846 1.5926 0 2.8846 1.2921 2.8846 2.8846Z"/><path fill="currentColor" d="m6.6286 4.66947-.57692-2.44591C5.74519.919471 4.58233 0 3.24519 0H0l.576923 2.30769H3.24519c.26743 0 .4988.1833.5619.44471l4.09255 17.3918c.24339 1.0457 1.16887 1.7789 2.24456 1.7789h18.3083c1.1238 0 2.0823-.8053 2.2746-1.9111l2.3588-13.57871L6.6286 4.66947Z"/>
          </svg>
          <span class="rtnu-header__cart-count">
            <span class="GrowAOV_CartCount">0</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "NYNY Header",
  "class": "rtnu-section--header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Center Title"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "checkbox",
      "id": "is_external",
      "label": "Open in new tab"
    }
  ],
  "presets": [
    {
      "name": "NYNY Header"
    }
  ]
}
{% endschema %}