{% comment %}
  -------------------------------------------------------------------------------
  PAL Benefits
  -------------------------------------------------------------------------------
  Usage
  {% section 'pal-benefits' %}
  -------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-pal__benefits">
  <h2>LIVER BENEFITS</h2>

  <div
    class="splide rtnu-pal__benefits-slider"
    role="group"
    aria-label="Liver Benefits"
  >
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <p class="title">Boost Energy</p>
          <p>
            Rich in B-Vitamins, Iron, and other essential nutrients to support
            energy and combat fatigue.
          </p>
        </li>
        <li class="splide__slide">
          <p class="title">Support Metabolic Health</p>
          <p>
            Contains Copper, B-Vitamins and other critical nutrients to support
            metabolic health.
          </p>
        </li>
        <li class="splide__slide">
          <p class="title">Support Heart Health</p>
          <p>
            A great source of Vitamin K2, essential for cardiac function and
            heart health.
          </p>
        </li>
        <li class="splide__slide">
          <p class="title">Enhance Physical Stamina</p>
          <p>
            Packed with taurine, L-carnitine, anserine, and carnosine to boost
            endurance and muscle performance.
          </p>
        </li>
        <li class="splide__slide">
          <p class="title">Support Longevity</p>
          <p>
            Rich in Vitamin A, Choline, Folate and other essential vitamins for
            long-term health and vitality.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "PAL - Benefits",
  "presets": [
    {
      "name": "PAL - Benefits"
    }
  ]
}
{% endschema %}
