<div class="rtnu-wrapper">
  <div class="rtnu-product__hero-offer-bar-content">
    <p>Limited Time Special Offer (ends 5/19)<span>:</span></p>
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 38 20"
      >
        <path fill="#F3C178" d="M26.4023 0H3.91389c-.4693 0-.89319.413953-.94582.924031-.05334.510079.28476.924029.75478.924029h8.49005c.47 0 .811.41396.7612.92403-.0497.51008-.4714.92403-.9422.92403H5.16177c-.47075 0-.89464.41396-.94726.92403-.05263.51008.28691.92404.75766.92404h3.33992l-.00144.01317h1.41152c.47143 0 .81243.41396.76203.92403-.0455.45969-.3929.83954-.806.91086H.957488c-.471468 0-.8975188.41395-.95158616.92403-.05406734.51008.28547616.92403.75766416.92403H11.0674c.4722 0 .8146.41395.7648.92399-.0497.5101-.4736.9241-.9465.9241H6.41613c-.47291 0-.89824.4139-.95014.924-.05191.5101.2898.924.76343.924h2.71634c.47363 0 .81606.414.76632.9241-.05046.51-.47579.924-.94942.924H4.21811c-.47435 0-.90112.4139-.95303.924-.05262.5101.2898.9241.76416.9241h7.25946c0-2.3419 1.7655-4.2411 3.944-4.2411 2.1786 0 3.9441 1.8984 3.9441 4.2411h7.7323l1.2674-14.50237C28.2795.953488 27.4844 0 26.4023 0Z"/><path fill="#F3C178" d="M15.2319 13.2643c-1.7295 0-3.1316 1.5078-3.1316 3.3675 0 1.8597 1.4021 3.3674 3.1316 3.3674 1.7294 0 3.1316-1.5077 3.1316-3.3674s-1.4022-3.3675-3.1316-3.3675Zm0 4.8613c-.7663 0-1.3892-.6698-1.3892-1.4938 0-.824.6229-1.4938 1.3892-1.4938s1.3891.6698 1.3891 1.4938c0 .824-.6228 1.4938-1.3891 1.4938Z"/><path fill="#F3C178" d="m37.6014 8.85194-2.5196-4.66512c-.5104-.95039-1.4468-1.52713-2.4784-1.52713h-3.5721L27.9817 14.3783c.6978-1.193 1.932-1.9861 3.3399-1.9861 2.1778 0 3.944 1.8985 3.944 4.2411h1.3568c.6344 0 1.1693-.5535 1.1952-1.2356l.1802-4.8132c.0231-.61241-.1146-1.21318-.3957-1.73179l-.0007-.00077Zm-7.669-1.08062.3295-3.44264h2.4691c.4412 0 .8239.24264 1.0244.64884l1.3935 2.79302h-5.2172l.0007.00078Z"/><path fill="#F3C178" d="M31.3216 13.2643c-1.7294 0-3.1316 1.5078-3.1316 3.3675 0 1.8597 1.4022 3.3674 3.1316 3.3674 1.7294 0 3.1316-1.5077 3.1316-3.3674s-1.4022-3.3675-3.1316-3.3675Zm0 4.8613c-.7663 0-1.3892-.6698-1.3892-1.4938 0-.824.6229-1.4938 1.3892-1.4938s1.3892.6698 1.3892 1.4938c0 .824-.6229 1.4938-1.3892 1.4938Z"/>
      </svg>
      FREE SHIPPING!</span
    >
  </div>
</div>

{% schema %}
{
  "name": "Product Hero Offer Bar",
  "tag": "section",
  "class": "rtnu-product__hero-offer-bar",
  "settings": [],
  "presets": [
    {
      "name": "Product Hero Offer Bar"
    }
  ]
}
{% endschema %}
