{% comment %}
  -------------------------------------------------------------------------------
  PAL key info
  -------------------------------------------------------------------------------
  Usage
  {% section 'PAL-key-info' %}
  -------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-pal__key-info">
  <div class="rtnu-wrapper">
    <ul>
      <li>
        <div class="icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/icon-no-hormones-min.png?v=1715619110"
            aria-hidden="true"
            width="104"
            height="104"
            alt=""
            loading="lazy"
          >
        </div>
        <div class="text">
          No Added <br>
          Hormones
        </div>
      </li>
      <li>
        <div class="icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/icon-no-additives-or-fillers-min.png?v=1715619110"
            aria-hidden="true"
            width="104"
            height="104"
            alt=""
            loading="lazy"
          >
        </div>
        <div class="text">
          No Additives <br>
          or Fillers
        </div>
      </li>
      <li>
        <div class="icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/icon-made-in-usa-min.png?v=1715619109"
            aria-hidden="true"
            width="104"
            height="104"
            alt=""
            loading="lazy"
          >
        </div>
        <div class="text">
          100% <br>
          American Beef
        </div>
      </li>
      <li>
        <div class="icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/hs-pal-third-party.png?v=1719328484"
            aria-hidden="true"
            width="104"
            height="104"
            alt=""
            loading="lazy"
          >
        </div>
        <div class="text">
          3rd Party <br>
          Quality Tested
        </div>
      </li>
      <li>
        <div class="icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/icon-tested-min.png?v=1715619110"
            aria-hidden="true"
            width="104"
            height="104"
            alt=""
            loading="lazy"
          >
        </div>
        <div class="text">
          Informed <br>
          Sport Certified
        </div>
      </li>
      <li>
        <div class="icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/icon-grass-fed-min.png?v=1715619110"
            aria-hidden="true"
            width="104"
            height="104"
            alt=""
            loading="lazy"
          >
        </div>
        <div class="text">
          Grass-Fed <br>
          Pasture-Raised
        </div>
      </li>
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "PAL - Key Info",
  "presets": [
    {
      "name": "PAL - Key Info"
    }
  ]
}
{% endschema %}
