{% comment %}
  -------------------------------------------------------------------------------
  PAL Info 2
  -------------------------------------------------------------------------------
  Usage
  {% section 'pal-info-2' %}
  -------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-pal__info-2">
  <div class="rtnu-wrapper">
    <div class="rtnu-pal__info-2-content">
      <h2>
        REAL FOOD. <br>
        REAL NUTRIENTS.
      </h2>
      <p>
        Synthetic multivitamins are no match for superfoods like beef liver.
        Made from chemical compounds produced in a lab, synthetic supplements
        typically provide nutrients in a form that our body cannot optimally
        absorb or utilize.
      </p>
      <p>
        In contrast, the nutrients found in
        <strong>Pure American Liver</strong> are exactly as found in nature, and
        in the exact form our body needs for optimal absorption and utilization.
      </p>
      <a href="#rtnu-product" class="wayfx-btn">Get Pure American Liver</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "PAL - Info 2",
  "presets": [
    {
      "name": "PAL - Info 2"
    }
  ]
}
{% endschema %}
