{% comment %}
  -------------------------------------------------------------------------------
  PAL America
  -------------------------------------------------------------------------------
  Usage
  {% section 'pal-america' %}
  -------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-pal__america">
  <div class="rtnu-wrapper">
    <div class="rtnu-grid">
      <div class="rtnu-grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/pal-cowboy-flag-min.jpg?v=1715638506"
          aria-hidden="true"
          width="747"
          height="485"
          alt=""
          loading="lazy"
          class="main-image"
        >
      </div>
      <div class="rtnu-grid__item">
        <h2>
          A VOTE FOR YOU <br>
          AND AMERICA
        </h2>
        <img
          src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/pal-cowboy-flag-min.jpg?v=1715638506"
          aria-hidden="true"
          width="747"
          height="485"
          alt=""
          loading="lazy"
        >
        <p>
          American farm and ranch families are facing a great extinction. If we
          lose them, we lose a big part of what made this country great. If we
          lose control of our food system, we lose control of our nation's
          health. That’s why Pure American Liver is more than a supplement. It’s
          a return to real food from American soil, and a vote for an America
          that values it’s farmers, it’s food system, and it’s health.
        </p>
        <a href="#rtnu-product" class="wayfx-btn">GET PURE AMERICAN LIVER</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "PAL - America",
  "presets": [
    {
      "name": "PAL - America"
    }
  ]
}
{% endschema %}
