{% comment %}
  -------------------------------------------------------------------------------
  PAL Info
  -------------------------------------------------------------------------------
  Usage
  {% section 'pal-info' %}
  -------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-pal__info">
  <div class="rtnu-wrapper">
    <blockquote>
      <p>
        If there is one superfood to get in your diet, make it liver. It’s a
        nutritional powerhouse, and can radically transform your health and
        vitality!
      </p>
      <cite>
        <p>PAUL SALADINO M.D.</p>
        <span>Founder of Heart & Soil</span>
      </cite>
    </blockquote>

    <div class="rtnu-grid">
      <div class="rtnu-grid__item">
        <h2>harness a superior form of nutrition</h2>
        <p>
          Liver is nature’s #1 superfood, containing more micronutrients
          (vitamins and minerals) per calorie than nearly any other food on the
          planet.
        </p>
        <p>
          Compared with other foods, it is many times richer in essential
          nutrients such as Vitamin A, Riboflavin, Vitamin B12, Vitamin K2,
          Copper and Iron. It is also incredibly rich in vitamins, minerals,
          peptides and enzymes to support immune, reproductive, digestive,
          musculoskeletal, and nervous health.
        </p>
      </div>
      <div class="rtnu-grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0317/9898/4835/files/harness-feature-min.jpg?v=1715635308"
          aria-hidden="true"
          width="547"
          height="456"
          loading="lazy"
          alt=""
        >
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "PAL - Info",
  "presets": [
    {
      "name": "PAL - Info"
    }
  ]
}
{% endschema %}
