<section class="wayfx-postscript" style="--bg: url({{ 'potscript-ss-bg-patter.min.png' | asset_img_url: '2880x' }})">
  <div class="wayfx-wrapper">
    <div class="wayfx-grid">
      <div class="wayfx-grid__item">
        <img src="{{ 'postscript-ss-image.min.png' | asset_img_url: '1068x' }}" alt="" loading="lazy" width="534">
      </div>
      <div class="wayfx-grid__item">
        <h1>Join the Radical Health Text Club</h1>
        <p id="form-message">Get early access to Heart & Soil products, exclusive animal-based health tips, and get 10% off your next order!</p>
        <div id="ps__subscribe-form">
          <form action="https://api.postscript.io/subscribe/form" method="post" onsubmit="document.getElementById('ps__sent-message').style.display = 'block'; document.getElementById('ps__subscribe-form').style.display = 'none'; document.getElementById('form-message').style.display = 'none';" target="dummyframe">
            <input id="ps__shop_id" name="shop_id" type="hidden" value="53102"/>
            <input id="ps__keyword_id" name="keyword_id" type="hidden" value="296497"/>

            <div style="margin-bottom: 20px; text-align: center">
              <input autofocus id="ps__phone-subscribe" name="phone" placeholder="Phone Number" type="phone"/>
            </div>
            <div class="disclaimer">*By subscribing, you agree to receive recurring automated marketing text messages (e.g. cart reminders) at the phone number provided. Consent is not a condition to purchase. Msg & data rates may apply. Msg frequency varies. Reply HELP for help and STOP to cancel. View our <a href="https://heartandsoil.co/terms-of-service/" target="_blank">Terms of Service</a> and <a href="https://heartandsoil.co/privacy-policy/" target="_blank">Privacy Policy</a>.
            </div>
            <div>
              <input class="wayfx-btn" type="submit" value="Join Free"/>
            </div>
          </form>
        </div>
        <div id="ps__sent-message" style="max-width: 400px; margin: auto; padding: 20px; display: none">
          <p>Thanks for subscribing! We'll send you a message shortly.</p>
        </div>
        <div class="ss-reviews">
          <svg xmlns="http://www.w3.org/2000/svg" width="116" height="21" fill="none" viewBox="0 0 116 21"><path fill="#F69400" d="m10.5096 2.54522 1.9172 5.67343 5.9891.07031c.5156.00626.7281.66251.3156.96875l-4.8047 3.57659 1.7844 5.7172c.1531.4922-.4047.8968-.825.6l-4.8859-3.4657-4.88597 3.4641c-.42032.2984-.97813-.1078-.825-.5984l1.78437-5.7172-4.80469-3.57659c-.414057-.30781-.2-.96406.31563-.97031l5.98906-.06875 1.91563-5.675c.16562-.4875.85627-.4875 1.02027.00157Zm24 0 1.9172 5.67343 5.9891.07031c.5156.00626.7281.66251.3156.96875l-4.8047 3.57659 1.7844 5.7172c.1531.4922-.4047.8968-.825.6l-4.8859-3.4657-4.886 3.4641c-.4203.2984-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57659c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00157Zm24 0 1.9172 5.67343 5.9891.07031c.5156.00626.7281.66251.3156.96875l-4.8047 3.57659 1.7844 5.7172c.1531.4922-.4047.8968-.825.6l-4.8859-3.4657-4.886 3.4641c-.4203.2984-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57659c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00157Zm24 0 1.9172 5.67343 5.9891.07031c.5156.00626.7281.66251.3156.96875l-4.8047 3.57659 1.7844 5.7172c.1531.4922-.4047.8968-.825.6l-4.8859-3.4657-4.886 3.4641c-.4203.2984-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57659c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00157Zm24.0004 0 1.917 5.67343 5.989.07031c.516.00626.728.66251.316.96875l-4.805 3.57659 1.784 5.7172c.153.4922-.404.8968-.825.6L106 15.6858l-4.886 3.4641c-.42.2984-.978-.1078-.825-.5984l1.785-5.7172-4.805-3.57659c-.414-.30781-.2-.96406.3156-.97031l5.9894-.06875 1.915-5.675c.166-.4875.857-.4875 1.021.00157Z"/></svg>
          <span>27,661+ Members</span>
        </div>
        <iframe border="0" height="0" id="ps__dummyframe" name="dummyframe" width="0"></iframe>

      </div>
    </div>
  </div>
</section>