<div class="wayfx-wrapper">
    <h2>Recommended by experts</h2>
    <!-- Swiper -->
    <div class="swiper-container wayfx-testimonials-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <blockquote class="wayfx-testimonial">
                    <h3>"He's got the carnivore diet covered"</h3>
                    <img class="lazyload" data-src="{{ 'Dave-Asprey.png' | asset_url }}" alt="Dave Asprey" width="140">
                    <cite>
                        <p>Dave Asprey</p>
                        <span>Founder of Bulletproof</span>
                    </cite>
                </blockquote>
            </div>
            <div class="swiper-slide">
                <blockquote class="wayfx-testimonial">
                    <h3>"He helps you achieve optimal health"</h3>
                    <img class="lazyload" data-src="{{ 'Dr.-Mercola.png' | asset_url }}" alt="Dr. Mercola" width="140">
                    <cite>
                        <p>Dr. Mercola</p>
                        <span>Practicing Doctor</span>
                    </cite>
                </blockquote>
            </div>
            <div class="swiper-slide">
                <blockquote class="wayfx-testimonial">
                    <h3>"He's got the carnivore diet covered"</h3>
                    <img class="lazyload" data-src="{{ 'Dave-Asprey.png' | asset_url }}" alt="Dave Asprey" width="140">
                    <cite>
                        <p>Dave Asprey</p>
                        <span>Founder of Bulletproof</span>
                    </cite>
                </blockquote>
            </div>
            <div class="swiper-slide">
                <blockquote class="wayfx-testimonial">
                    <h3>"He helps you achieve optimal health"</h3>
                    <img class="lazyload" data-src="{{ 'Dr.-Mercola.png' | asset_url }}" alt="Dr. Mercola" width="140">
                    <cite>
                        <p>Dr. Mercola</p>
                        <span>Practicing Doctor</span>
                    </cite>
                </blockquote>
            </div>
        </div>

        <!-- Add Arrows -->
        <div class="wayfx-slider-previous-arrow"></div>
        <div class="wayfx-slider-next-arrow"></div>
    </div>
</div>

{% schema %}
    {
        "name": "Testimonials",
        "tag": "section",
        "class": "wayfx-testimonials"
    }
{% endschema %}