<div class="wayfx-wrapper">
    <div class="wayfx-reviews__hero-text">
        <h1>See why customers love Heart & Soil</h1>
        <p>1,028+ reviews from customers & experts</p>
    </div>
    <div class="wayfx-reviews__hero-image">
        <img class="lazyload" data-src="{{ 'customers.jpg' | asset_url }}" alt="" />
    </div>
</div>

{% schema %}
    {
        "name": "Hero",
        "tag": "section",
        "class": "wayfx-reviews__hero"
    }
{% endschema %}