<section class="rtnu-connect">
  <div class="rtnu-wrapper">
    <div class="rtnu-connect__content">
      <img src="{{ 'hs-help-3.webp' | asset_url }}" alt="" loading="lazy" width="507" height="229">

      <h2>GET EXPERT SUPPORT</h2>
      <p>Connect with our Health Success Team today for personalized guidance and support.</p>
      <a href="https://heartandsoil.co/contact-us/" class="wayfx-btn">Connect with us</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Connect with Us",
    "presets": [
      {
        "name": "PDP Connect with Us",
        "category": "general"
      }
    ]
  }
{% endschema %}