<div class="wayfx-warrior__how-to">
  <div class="wayfx-wrapper">
    <div class="wayfx-grid">
      <div class="wayfx-grid__item">
        <img loading="lazy" src="{{ 'warrior-how-to-use.jpg' | asset_img_url: '1316x' }}" alt="Person taking Warrior supplements in hand." width="658" height="536">
      </div>
      <div class="wayfx-grid__item">
        <h2>Take Warrior daily to increase performance, strength and recovery</h2>
        <p>Six capsules of WARRIOR provides the nutrient equivalent of about 1/2 an ounce of fresh heart, and 1/2 an ounce of fresh liver.</p>
        <ul>
          <li>
            <div class="icon">
              <img loading="lazy" src="{{ 'how-to-use-1.png' | asset_img_url: '80x' }}" aria-hidden="true" width="40" height="40">
            </div>
            <p class="text">Can be taken with or without food.</p>
          </li>
          <li>
            <div class="icon">
              <img loading="lazy" src="{{ 'how-to-use-2.png' | asset_img_url: '80x' }}" aria-hidden="true" width="40" height="40">
            </div>
            <p class="text">Simple, convenient and tasteless.</p>
          </li>
          <li>
            <div class="icon">
              <img loading="lazy" src="{{ 'how-to-use-3.png' | asset_img_url: '80x' }}" aria-hidden="true" width="40" height="40">
            </div>
            <p class="text">Ideal for travel, busy lifestyles and as an alternative to fresh organs.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Warrior How to use"
}
{% endschema %}
