<section class="wayfx-warrior__faq">
  <div class="wayfx-wrapper">
    <h2>Have more questions?</h2>
    <a href="https://heartandsoil.co/faq/">Check out our FAQ</a>
  </div>
</section>

{% schema %}
{
  "name": "Warrior FAQs"
}
{% endschema %}
