<section class="wayfx-warrior__warriors" style="--bg: url('{{ 'warrior-we-are-warriors-bg.jpg' | asset_img_url: '2800x' }}')">
  <img loading="lazy" src="{{ 'warrior-we-are-warriors-bg-mobile.jpg' | asset_img_url: '780x' }}" aria-hidden="true" width="780">
  <div class="wayfx-wrapper">
    <div class="wayfx-warrior__warriors-content">
      <h2>FALL DOWN SEVEN TIMES, GET UP EIGHT</h2>
      <p>During my fighting career I went to war with many opponents…But my biggest opponent has always been me.</p>

      <p>Still to this day I am at war with myself in order to become the greatest version of me that I can be. This to me is what a true Warrior will do.</p>
      
      <p>I also believe that in life a Warrior must constantly be learning, and what I have learned from Dr. Paul Saladino has enabled me to fight in my life much harder. <strong>Since I began eating organs I feel stronger, I have more energy and I am healthier.</strong></p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "We are Warriors"
}
{% endschema %}
