:root {
  // Colors
  --wayfx-primary: #994e0e;
  --wayfx-secondary: #21351c;
  --wayfx-tertiary: #f4fff1;
  --wayfx-light: #ffffff;
  --wayfx-dark: #000000;
  --wayfx-light-primary: #ffe4d2;
  --wayfx-light-secondary: #c1e1b8;
  --wayfx-lighter-secondary: #d8f7ce;
  --wayfx-button-bg: #994e0e;
  --wayfx-button-bg-hover: #773b08;
  --wayfx-nav-link: #2d231a;
  --wayfx-footer-bg: #120e0b;
  --wayfx-footer-link: #d7aa8b;
  --wayfx-footer-copy: #876b56;
  --wayfx-scroll-color: #2d231a;
  --wayfx-cream: #f9ebdc;
  --wayfx-dark-brown: #2d231a;

  // Warrior
  --warrior-red: #d1171e;
  --warrior-red-darker: #9c1016;

  // Her Package
  --hp-dark: #1A091E;
  --hp-purple: #451651;
  --hp-purple-light: #61346C;
  --hp-purple-lighter: #784A83;
  --hp-yellow: #FFD076;
  --hp-redorange: #E75353;
  --hp-redorange-darker: #C04242;

  --md-accent: #8F59A0;
  --md-accent-darker: #6B3C7A;

  --pal-yellow: #F3C178;
  --pal-yellow-darker: #DFAD62;
  --pal-maroon: #752A2E;
  --pal-maroon-darker: #61292C;

  // Fonts
  --wayfx-heading-font: "Burford Base";
  --wayfx-body-font: "Source Sans Pro", sans-serif;
  --wayfx-heading-torque: 'torque_sense';

  // Misc
  --wayfx-radius: 6px;
}
