<main id="primary" class="wayfx-404 not-found">
	<h1>{{ 'general.404.title' | t }}</h1>
	<p>{{ 'general.404.subtext_html' | t }}</p>
	<p><a class="wayfx-btn" href="/collections/all" role="button">Shop our supplements</a></p>
	<p>or <a href="/">return home</a></p>
</main><!-- #main -->