{% layout none %}
<!DOCTYPE html>
<html>
<head>
  <title>Redirecting...</title>
  <script async type="text/javascript" src="https://cdn.refersion.com/shop.js?key=pub_3da5139819eda2ffb366&check_token=true&shop=heartsoil.myshopify.com"></script>
  <meta http-equiv="refresh" content="0;url=https://heartandsoil.co" />
</head>
<body>
  
</body>
</html>