<div class="wayfx-reviews">
  {%- section 'reviews-hero' %}
  {% comment %}{%- section 'reviews-recommendations' -%}{% endcomment %}
  <section class="wayfx-product__reviews">
    <h2>They love Heart &amp; Soil</h2>
    <p>And we think you will too</p>
    <div id="stamped-reviews-widget" data-widget-type="full-page" data-min-rating="4" data-product-ids=""></div>
  </section>
</div>
