<div class="wayfx-product" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {% section 'product-hero-giftcard' %}
  {% section 'product-why-hs' %}
</div>

{% include 'klaviyo-viewed-product' %}
{% include 'klaviyo-oos' %}